/*header*/
#navigasi{
    background-image: linear-gradient(to bottom left, #522546, #311D3F);
}

.nav-item{
    margin-left: 10px;
    margin-right: 10px;
}

header{
    font-family: 'Bakbak One', cursive;
}

/*main*/

main{
    background-image: linear-gradient(to bottom right, #e23e57, #b43145, #872534, #5a1822);
    color: white;
}


#predict{
    font-family: 'Calibri', cursive;
    margin-top: 10px;
}

#predictsec{
    font-family: 'Bakbak One', cursive;
}

#intro1, #intro2, #intro3, #predictsec, #resultClass, #resultRec, #about{
    padding: 80px;
}

#resultTitl{
    display: flex;
    justify-content: center;
}

#teks{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about{
    font-family: 'Calibri';
}

#aboutImg{
    display: flex;
    justify-content: center;
}

#card{
    margin-top: 25px;
}

/*footer*/

footer{
    font-family: 'Bakbak One', cursive;
    background-image: linear-gradient(to bottom left, #311D3F, #522546);
}

footer > div{
    color: white;
}

/* Responsibilitas */
@media screen and (max-width: 992px){

    #img2, #img3, #img6{
        width: 300px;
    }
}   


@media screen and (max-width: 576px){

    #img2, #img3, #img6{
        width: 200px;
    }

    #card{
        padding-top: 25px;
    }

}   


