<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="dicoding:email" content="danielrymeds@gmail.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/images/log_caps.png">

    <!-- Template Main CSS File -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Vendor CSS Files -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Bakbak+One&family=Lobster&family=Titillium+Web:wght@300&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="../static/style/style.css">
    
    <title></title>
</head>
<body>
    <header>
        <!--Ini navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="navigasi">
            <div class="container">
                
                <a class="navbar-brand" href="#home">
                    <img src="../static/images/log_caps.png" style='margin-left: 5px;'alt="DM" width="40px">
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse text-center" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="#home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#predictsec">Start</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#about">About us</a>
                        </li>
                    </ul>
                </div>

            </div> 
        </nav>

    </header>
    
    <main id="home">
        
        <section data-aos="fade-up" data-aos-delay="100" class="container-fluid" id="intro1" style="margin-top: 66px;">
            <div class="row" style="padding: 50px; border-style: solid; border-radius: 5px; background-image: linear-gradient(to bottom, #522546, #633a58); border-color:white ;">
                <div id="teks" class="col-lg-7 text-center" >
                    <p style="color:white; font-family:Calibri; font-weight: bold;font-size:30px;">You are tempted by a smartphone that has just been produced?</p>
                    <p style="color:white; font-family:Calibri; font-weight:500;font-size:20px;">happy for your life, happy for others</p>
                </div>
                <div class="col-lg-5 text-center">
                    <img id="img2" src="../static/images/udin_2.png" alt="" width="300px">
                </div>
              </div>
        </section>

        <section data-aos="fade-up" data-aos-delay="100" class="container-fluid" id="intro2">
            <div class="row" style="padding: 50px; border-style: solid; background-image: linear-gradient(to bottom, #522546, #633a58); border-radius: 5px; border-color:white ;">
                <div class="col-lg-5 text-center">
                    <img id="img3" src="../static/images/udin_1.png" alt="" width="300px">
                </div>
                <div id="teks" class="col-lg-7 text-center">
                    <p style="color:white; font-family:Calibri; font-weight: bold;font-size:30px;">The brand hasn't issued a price yet and you should know it</p>
                    <p style="color:white; font-family:Calibri; font-weight:500;font-size:20px;">happy for your life, happy for others</p>
                </div>
              </div>
        </section>

        <section data-aos="fade-up" data-aos-delay="100" class="container-fluid" id="intro3" >
            <div class="row" style="padding: 50px; border-style: solid; background-image: linear-gradient(to bottom, #522546, #633a58); border-radius: 5px; border-color:white ;">
                <div id="teks" class="col-lg-7 text-center ">
                    <p style="color:white; font-family:Calibri; font-weight: bold;font-size:30px;">We are here to help others</p>
                    <p style="color:white; font-family:Calibri; font-weight:500;font-size:20px;">happy for your life, happy for others</p>
                </div>
                <div class="col-lg-5 text-center">
                    <img id="img6" src="../static/images/log_caps.png" alt="" width="300px">
                
                </div>
              </div>
        </section>

        <!--Ini bagian sistem machine learning UI-->
        <section data-aos="fade-up" data-aos-delay="300" class="container-fluid" id="predictsec">
            <!--Title Screen-->
            <div class="container">

                <div class="container px-4 px-lg-5 h-100">
                    <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                        <div class="col-lg-8 align-self-end">
                            <h1 style="font-weight: bold;">Mobile Phone Price Classification </h1>
                            <hr class="divider"/>
                        </div>
                        <div class="col-lg-8 align-self-baseline">
                            <p class="text-white-75 fs-3 mb-4" style="font-weight:500;">Get Price Range and Mobile Phone Recommendation</p>
                            <p class="text-white-75 fs-3 mb-4" style="font-weight:500;">Based on Input Specification</p>
                        </div>
                    </div>
                </div>
                
                <form id="predict" action="{{url_for('predict')}}" method='post' style="background-image: linear-gradient(to bottom, #74506a, #977c90); border-style: solid; border-radius: 5px; border-color:white ;padding: 20px;">
                    <div class="row">
                        <div class="col">
                            <label for='weight' class="text-white-75 form-label"><b>Weight(g)</b></label>
                            <input type="number" id="floatNumber" class="form-control form-control-lg" name="weight" placeholder="0.00" min="0" required="required" autocomplete="off"><br><br>
                        </div>
                        <div class="col">
                            <label for='width' class="text-white-75 form-label"><b>Width(px)</b></label>
                            <input type='number' id="floatNumber" class="form-control form-control-lg" name='width' placeholder='0.00' min="0" required='required' autocomplete="off"><br><br>
                        </div>
                        <div class="col">
                            <label for='height' class="text-white-75 form-label"><b>Height(px)</b></label>
                            <input type='number' id="floatNumber" class="form-control form-control-lg" name='height' placeholder="0.00" min="0" required='required' autocomplete="off"><br><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for='rom' class="text-white-75 form-label"><b>ROM(MB)</b></label>
                            <input type='number' class="form-control form-control-lg" name='rom' placeholder="0" min="0" step=".01" required='required' autocomplete="off"><br><br>
                        </div>
                        <div class="col">
                            <label for="ram" class="text-white-75 form-label"><b>RAM(MB)</b></label><br>
                            <input type="number" class="form-control form-control-lg" name="ram" placeholder="0" min="0" required='required' autocomplete="off"><br><br>
                        </div>
                        <div class="col">
                            <label for='battery' class="text-white-75 form-label"><b>Battery Capacity(mAh)</b></label>
                            <input type='number' class="form-control form-control-lg" name='battery' placeholder="0" min="0" required='required' autocomplete="off"><br><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for='brand' class="text-white-75 form-label"><b>Brand</b></label>
                            <select name="brand" class="form-select" aria-label="Default select example">
                                <option selected></option>
                                <option value="samsung">samsung</option>
                                <option value="oppo">oppo</option>
                                <option value="vivo">vivo</option>
                                <option value="realme">realme</option>
                                <option value="xiaomi">xiaomi</option>
                              </select>
                        </div>  
                    </div>
                    <br>
                    <button class="btn btn-primary btn-xl" style="display: flex; margin: auto; background-color: #311D3F; min-width: 50px; border: none;">Predict</button>
                    <br>
                </form>
            
            </div>
        </section>
                
        <section data-aos="fade-up" data-aos-delay="300" class="container-fluid" id="resultClass">
            <div class="container text-center"> 
                <h1>Price range is</h1>
                <div style="background-image: linear-gradient(to bottom, #74506a, #977c90); margin-top: 50px; border-style: solid; padding: 5px; border-radius: 5px; border-color: white;">
                    <h2>{{price}}</h2>
                </div>
            </div>
        </section>        
 
        <section data-aos="fade-up" data-aos-delay="300" id="resultRec" class="container" style="margin-top: 80px; margin-bottom: 80px;">
            
            <div id="resultTitl" class="container text-center" style="margin-bottom: 50px;">
                <h1>Recommendations are</h1>
            </div>
            
            <div class="row row-cols-md-3 row-cols-1 g-3" style="background-image: linear-gradient(to bottom, #74506a, #977c90); border-style: solid; border-radius: 5px; border-color:white ;padding: 20px;">

                <div class="col">
                    <div class="card" style="background: none; border-style: solid; border-radius: 5px; border-color: #31162a; border-width: 5px;">
                        <img src={{img1}} alt={{rec1}} class="card-img-top" onerror="this.style.display='none'"/>
                        <div class="card-body">
                            <h5 class="card-title text-center" style="font-weight: bold; color: white;">{{rec1}}</h5>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card" style="background: none; border-style: solid; border-radius: 5px; border-color: #31162a; border-width: 5px;">
                        <img src={{img2}} alt={{rec2}} class="card-img-top" onerror="this.style.display='none'"/>
                        <div class="card-body">
                            <h5 class="card-title text-center" style="font-weight: bold; color: white;">{{rec2}}</h5>
                        </div>
                    </div>
                </div>
                
                <div class="col">
                    <div class="card" style="background: none; border-style: solid; border-radius: 5px; border-color: #31162a; border-width: 5px;">
                        <img src={{img3}} alt={{rec3}} class="card-img-top" onerror="this.style.display='none'"/>
                        <div class="card-body">
                            <h5 class="card-title text-center" style="font-weight: bold; color: white;">{{rec3}}</h5>
                        </div>
                    </div>
                </div>
            
            </div>
        </section>            
            
        <!--Ini bagian About Us-->
        <section data-aos="fade-up" data-aos-delay="300" id="about" class="container-fluid">
            
            <div class="text-center" style="margin-bottom: 20px;">
                <h1 style="font-weight: bold;">About us</h1>
            </div>
            
            <div class="row justify-content-center" style="background-image: linear-gradient(to bottom, #74506a, #977c90); border-style: solid; border-radius: 5px; border-color:white ; padding: 20px;">
                
                <div id="card" class="col-lg-6">
                    <div id="aboutImg">
                        <img src="../static/images/bang nil.png" alt="Bang Daniel" style="width: 30%;">
                    </div>
                    <h5 class="card-title text-center" style="color: white; font-weight: bold; margin-top: 5px;">Daniel Ryan Medwin</h5>
                    <p class="card-text text-center" style="color: white;">
                        An undergraduate Electrical Engineering second-year student of Sepuluh Nopember Institute of Technology who has high interest in power system, robotics, and web development. Currently active in ITS Robotics as a Research and Technology Development Staff.
                    </p>
                </div>

                <div id="card" class="col-lg-6">
                    <div id="aboutImg">
                        <img src="../static/images/bang il.png" alt="Bang Mail" style="width: 30%;">
                    </div>
                    <h5 class="card-title text-center" style="color:white;font-weight: bold; margin-top: 5px;">Ghifari Ismail</h5>
                    <p class="card-text text-center" style="color: white;">
                        Didn't like many things, but liked her for sure. Sometimes I am under very pressing anxiety, experiencing unspoken longing, also despair, especially love problems.
                    </p>
                </div>

            </div>
            
        </section>

    </main>
    
    <footer class="page-footer container-fluid">

        <div class="footer-copyright text-center py-3">By Daniel Ryan Medwin & Ghifari Ismail &#169; 2021</div>
      
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    
    <!-- Vendor JS Files -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>