<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./src/images/log_caps.png">
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Bakbak+One&family=Lobster&family=Titillium+Web:wght@300&display=swap" rel="stylesheet">
    
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/src/style/style.css">
    

    
    <title></title>
</head>
<body>
    <header>
        <!--Ini navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="navigasi">
            <div class="container">
                
                <a class="navbar-brand" href="#home">
                    <img src="./src/images/log_caps.png" style='margin-left: 5px;'alt="DM" width="40px">
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse text-center" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="#intro1">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#predictsec">Go</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#about">About</a>
                        </li>
                    </ul>
                </div>

            </div> 
        </nav>

    </header>
    
    <main>
        
        <section class="container-fluid" id="intro1" style="margin-top: 66px;">
            <div class="row" style="padding: 50px;">
                <div class="col-lg-7 text-center" >
                    <p style="color:white; font-family:Calibri; font-weight: bold;font-size:30px;">You are tempted by a smartphone that has just been produced?</p>
                    <p style="color:white; font-family:Calibri; font-weight:500;font-size:20px;">happy for your life, happy for others</p>
                </div>
                <div class="col-lg-5 text-center">
                    <img id="img2"src="./src/images/udin_2.png" alt="" width="300px">
                </div>
              </div>
        </section>

        <section class="container-fluid" id="intro2">
            <div class="row" style="padding: 50px;">
                <div class="col-lg-5 text-center">
                    <img id="img3" src="./src/images/udin_1.png" alt="" width="300px">
                </div>
                <div class="col-lg-7 text-center">
                    <p style="color:white; font-family:Calibri; font-weight: bold;font-size:30px;">The brand hasn't issued a price yet and you should know it</p>
                    <p style="color:white; font-family:Calibri; font-weight:500;font-size:20px;">happy for your life, happy for others</p>
                </div>
              </div>
        </section>

        <section class="container-fluid" id="intro3" >
            <div class="row" style="padding: 50px;">
                <div class="col-lg-7 text-center ">
                    <p style="color:white; font-family:Calibri; font-weight: bold;font-size:30px;">We are here to help others</p>
                    <p style="color:white; font-family:Calibri; font-weight:500;font-size:20px;">happy for your life, happy for others</p>
                </div>
                <div class="col-lg-5 text-center">
                    <img id="img6" src="./src/images/log_caps.png" alt="" width="300px">
                
                </div>
              </div>
        </section>


        <section class="container-fluid" id="predictsec">
            <!--Title Screen-->
            <div class="container">

                <div class="container px-4 px-lg-5 h-100">
                    <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                        <div class="col-lg-8 align-self-end">
                            <h1 class="text-black font-weight-bold">Mobile Phone Price Classification </h1>
                            <hr class="divider" />
                        </div>
                        <div class="col-lg-8 align-self-baseline">
                            <p class="text-white-75 fs-3 mb-4">Get Price Range and Mobile Phone Recommendation</p>
                            <p class="text-white-75 fs-3 mb-4">Based on Input Specification</p>
                        </div>
                    </div>
                </div>
                
                <form id="predict" action="{{url_for('predict')}}" method='post'>
                    <div class="row">
                        <div class="col">
                            <label for='weight' class="text-white-75 form-label"><b>Weight(g)</b></label>
                            <input type="number" id="floatNumber" class="form-control form-control-lg" name="weight" placeholder="0.00" min="0" required="required" autocomplete="off"><br><br>
                        </div>
                        <div class="col">
                            <label for='width' class="text-white-75 form-label"><b>Width(px)</b></label>
                            <input type='number' id="floatNumber" class="form-control form-control-lg" name='width' placeholder='0.00' min="0" required='required' autocomplete="off"><br><br>
                        </div>
                        <div class="col">
                            <label for='height' class="text-white-75 form-label"><b>Height(px)</b></label>
                            <input type='number' id="floatNumber" class="form-control form-control-lg" name='height' placeholder="0.00" min="0" required='required' autocomplete="off"><br><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for='rom' class="text-white-75 form-label"><b>ROM(MB)</b></label>
                            <input type='number' class="form-control form-control-lg" name='rom' placeholder="0" min="0" step=".01" required='required' autocomplete="off"><br><br>
                        </div>
                        <div class="col">
                            <label for="ram" class="text-white-75 form-label"><b>RAM(MB)</b></label><br>
                            <input type="number" class="form-control form-control-lg" name="ram" placeholder="0" min="0" required='required' autocomplete="off"><br><br>
                        </div>
                        <div class="col">
                            <label for='battery' class="text-white-75 form-label"><b>Battery Capacity(mAh)</b></label>
                            <input type='number' class="form-control form-control-lg" name='battery' placeholder="0" min="0" required='required' autocomplete="off"><br><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for='brand' class="text-white-75 form-label"><b>Brand</b></label>
                            <input type='text' class="form-control form-control-lg" name='brand' placeholder="Brand Name (lowercase)" required='required' autocomplete="off"><br><br>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-xl" style="background-color: red; border: none;">Predict</button>
                    <br>
                </form>
            </div>
        </section>
    </main>
    
    <footer>

    </footer>
</body>
</html>